In [30]:
import pandas as pd
import editdistance
from nameparser.parser import HumanName
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.metrics import accuracy_score
from sklearn.tree import export_graphviz
import graphviz

ModuleNotFoundError: No module named 'graphviz'

In [2]:
#Function to compare two father names and 
def checkFname(fname1, fname2):
    #If both the names are exactly same
    if (fname1 == fname2):
        return True
    fname1 = fname1.split(' ')
    fname2 = fname2.split(' ')
    #If both names are single words and are not equal
    if(len(fname1) == len(fname2) == 1):
        return False
    #If both names are having more than one word
    if(len(fname1) == len(fname2)):
        #If first names are not equal
        if(fname1[0] != fname2[0]):
            return False
        #If the first character of last name are not same
        if(fname1[1][0] != fname2[1][0]):
            return False
        #If the first character of last name are same and either of the last names are single character
        if(len(fname1[1]) == 1 or len(fname2[1]) == 1):
            return True
        #If both names have same number of words and are not same
        else:
            return False
        #If both names are not having same no. of words but the first names are same
    elif(len(fname1) != len(fname2) and fname1[0] == fname2[0]):
        return True
    
#Function to calculate sum of AP
def sumAP(a,n,d):
    s = n * (2 * a + (n-1)*d)/2
    return s

def processNames(name1, name2):
    if(name1.middle != name2.middle):
        n1 = name1.middle.split(' ')
        n2 = name2.middle.split(' ')
        n = list(set(n1) | set(n2))
        for name in n:
            if(len(name) == 1):
                for othername in n:
                    if(othername[0] == str(name) and othername!=name):
                        n.remove(name)
                        break
        name1.middle = ' '.join(n)
        
    if(name1.last != name2.last):
        if(len(name1.last) < len(name2.last)):
            name1.last = name2.last
    if(name1.suffix != name2.suffix):
        if(len(name1.suffix) < len(name2.suffix)):
            name1.suffix = name2.suffix
    return name1

In [3]:
#Function to perform preprocessing on the data    
def preProcess(names):
    suffixes = ["JR","SR","I","II","III","IV"]
    
    #Converting the dates in proper format
    dobs = []
    for i,name in enumerate(names['dob']):
        dob = 1900+int(name[-2:])
        if(dob>2018):
            dob-=100
        dobs.append(str(name[:-2])+str(dob))
    names['dob'] = dobs
    names['dob'] = pd.to_datetime(names.dob)
    
    #Create a new dataframe which compares every entry with every other entry
    entries = []
    for i in range(len(names)):
        for j in range(i+1,len(names)):
            record = {}
            record['ln1'] = names.ln[i]
            record['dob1'] = names.dob[i]
            record['gn1'] = names.gn[i]
            record['fn1'] = names.fn[i]
            record['ln2'] = names.ln[j]
            record['dob2'] = names.dob[j]
            record['gn2'] = names.gn[j]
            record['fn2'] = names.fn[j]
            entries.append(record)
    namesCross = pd.DataFrame(entries)
    
    #Comparing DOBs, Father's Names, First Names, Last Names etc
    ln1 = []
    ln2 = []
    gender = []
    father = []
    dob = []
    first = []
    editdist = []
    last = []
    lastFirst = []
    ln1_length = []
    ln2_length = []
    for i in range(len(namesCross)):
        name1 = HumanName(namesCross['ln1'][i].upper())
        name2 = HumanName(namesCross['ln2'][i].upper())
        
        
        #Check if gender of both entries is same
        if(namesCross['gn1'][i] == namesCross['gn2'][i]):
            gender.append(1)
        else:
            gender.append(0)
        
        #Check if father's name for both entries is same
        if(checkFname(namesCross['fn1'][i],namesCross['fn2'][i])):
            father.append(1)
        else:
            father.append(0)
        
        #Check if DOB for both the entries is same
        if(namesCross['dob1'][i] == namesCross['dob2'][i]):
            dob.append(1)
        else:
            dob.append(0)
        
        #Check if the first name of both the entries is same
        if(name1.first == name2.first):
            first.append(1)
        else:
            first.append(0)
        
        #Calculate edit distance between first names of both entries
        editdist.append(editdistance.eval(name1.first,name2.first))
        
        #If the last name is a suffix categorize it correctly
        if(name1.last.upper() in suffixes):
            name1.suffix = name1.last
            name1.last = ''
        if(name2.last.upper() in suffixes):
            name2.suffix = name2.last
            name2.last = ''
        
        #Check if last names of both the entries are same
        if(name1.last == name2.last or name1.last == '' or name2.last == ''):
            last.append(1)
        else:
            last.append(0)
        
        #Check if the first character of last name of both entries is same while one of the entries is having abbreviated last name 
        if((name1.last != '' and name2.last != '') and (name1.last == name2.last[0] or name1.last[0] == name2.last)):
            lastFirst.append(1)
        else:
            lastFirst.append(0)
        
        #Calculating the length of names for both the entries
        ln1_length.append(len(name1))
        ln2_length.append(len(name2))
        ln1.append(name1)
        ln2.append(name2)

    namesCross['ln1'] = ln1
    namesCross['ln2'] = ln2
    namesCross['sameDob'] = dob
    namesCross['sameGender'] = gender
    namesCross['sameFather'] = father
    namesCross['sameFname'] = first
    namesCross['distFname'] = editdist
    namesCross['sameLname'] = last
    namesCross['sameLnameInitial'] = lastFirst
    namesCross['ln1_len'] = ln1_length
    namesCross['ln2_len'] = ln2_length
    return namesCross

In [4]:
def GenerateTrain(names):
    names = preProcess(names)
    result = []
    for i in range(len(names)):
        result.append(0)
        if(names.sameDob[i] and names.sameGender[i] and names.sameFather[i]):
            if(names.sameFname[i]):
                if(names.sameLname[i] or names.sameLnameInitial[i]):
                    result[i] = 1
    names['same'] = result
    return names

In [5]:
names = pd.read_csv("names.csv")
n = len(names)

In [6]:
names.head()

             ln       dob gn       fn
0      SMITH JR  01/03/68  F  WILLIAM
1  ROTHMEYER JR  01/03/68  F  WILLIAM
2       ASBY JR  01/03/68  F  WILLIAM
3     SALTER JR  01/03/68  F  WILLIAM
4     SALTER JR  01/03/68  F  WILLIAM

In [7]:
namesCross = GenerateTrain(names)

In [8]:
finals = []
deleted = set()
for x,name1 in names.iterrows():
    if x in deleted:
        continue
    record = {}
    if(x == 0):
        record['ln'] = namesCross.ln1[x]
        record['dob'] = namesCross.dob1[x]
        record['gn'] = namesCross.gn1[x]
        record['dob'] = namesCross.dob1[x]
        record['fn'] = namesCross.fn1[x]
        for y,name2 in names.loc[x+1:].iterrows():
            z = y
            z-=1
#             print(z," ",namesCross.same[z])
            if(namesCross.same[z] == 1):
                record['ln'] = processNames(record['ln'],namesCross.ln2[y])
                deleted.add(y)
                names.drop(y, axis = 0, inplace=True)
    
    elif(x!=len(names)-1):
        t = sumAP(n-1,x,-1)
#         print(t)
        record['ln'] = namesCross.ln1[t]
        record['dob'] = namesCross.dob1[t]
        record['gn'] = namesCross.gn1[t]
        record['dob'] = namesCross.dob1[t]
        record['fn'] = namesCross.fn1[t]
        for y,name2 in names.loc[x+1:].iterrows():
            k = y-x-1
#             print(t+k)
            if(namesCross.same[t+k] == 1):
#                 print("yeah", x, y, t+k)
                record['ln'] = processNames(record['ln'],namesCross.ln2[t+k])
                deleted.add(y)
                names.drop(y, axis = 0, inplace=True)
    else:
        record['ln'] = namesCross.ln1[len(namesCross) - 1]
        record['dob'] = namesCross.dob1[len(namesCross) - 1]
        record['gn'] = namesCross.gn1[len(namesCross) - 1]
        record['dob'] = namesCross.dob1[len(namesCross) - 1]
        record['fn'] = namesCross.fn1[len(namesCross) - 1]
    finals.append(record)

In [9]:
len(names)

54

In [10]:
names_unique = pd.DataFrame(finals)

In [11]:
names_unique.head()

         dob       fn gn            ln
0 1968-01-03  WILLIAM  F      SMITH JR
1 1968-01-03  WILLIAM  F  ROTHMEYER JR
2 1968-01-03  WILLIAM  F       ASBY JR
3 1968-01-03  WILLIAM  F     SALTER JR
4 1962-02-21  WILLIAM  F     BLAND III

In [12]:
clf = tree.DecisionTreeClassifier()

In [13]:
namesCross.columns

Index(['dob1', 'dob2', 'fn1', 'fn2', 'gn1', 'gn2', 'ln1', 'ln2', 'sameDob',
       'sameGender', 'sameFather', 'sameFname', 'distFname', 'sameLname',
       'sameLnameInitial', 'ln1_len', 'ln2_len', 'same'],
      dtype='object')

In [20]:
X = namesCross[['sameDob', 'sameGender', 'sameFather', 'sameFname', 'distFname', 'sameLname', 'sameLnameInitial', 'ln1_len', 'ln2_len']]
y = namesCross['same']

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=60)

In [22]:
X_train

,sameDob,sameGender,sameFather,sameFname,distFname,sameLname,sameLnameInitial,ln1_len,ln2_len
1147,0,0,0,0,7,1,0,2,2
3581,0,1,0,0,5,1,0,1,2
4693,1,1,1,1,0,1,0,2,2
1720,0,0,0,0,8,1,0,2,2
2192,0,1,0,0,8,1,0,2,1
4840,0,1,0,0,6,1,0,2,1
2504,0,1,0,1,0,1,0,2,2
3474,0,1,0,0,4,1,0,2,1
2287,0,1,0,0,6,1,0,1,2
3303,0,1,0,0,4,1,0,2,1
902,0,0,0,0,8,1,0,2,2
3941,0,1,0,0,6,1,0,2,2
4762,1,1,1,0,5,1,0,2,2
4203,0,1,0,0,9,1,0,2,2
2191,0,1,0,0,8,1,0,2,1
1485,0,0,0,0,5,1,0,2,2
3885,0,1,0,1,0,1,0,2,2
1563,0,0,0,0,5,1,0,2,2
4000,0,1,0,0,6,1,0,2,2
2857,0,1,0,0,8,1,0,2,2
4360,0,1,0,0,6,1,0,2,2
1727,0,0,0,0,6,1,0,2,2
4947,0,1,0,0,4,1,0,2,1
4715,0,1,0,0,5,1,0,2,2
4845,0,0,0,0,6,1,0,2,2
4316,0,1,0,0,6,1,0,2,2
690,0,1,0,0,5,1,0,2,2
465,0,0,0,0,5,1,0,2,2
9,0,1,1,0,5,1,0,2,2
4484,0,1,1,0,6,1,0,2,2
...,...,...,...,...,...,...,...,...,...
3190,0,1,0,0,9,1,0,2,2
2656,0,1,0,0,6,1,0,2,2
2535,0,1,0,0,8,1,0,2,2
336,0,0,0,0,7,1,0,2,2
799,0,1,0,0,7,1,0,2,2
4180,0,1,0,0,8,1,0,2,2
3079,0,1,0,0,7,1,0,2,2
4042,0,1,0,0,6,1,0,2,2
2909,0,1,0,0,8,1,0,2,2
853,0,0,0,0,7,1,0,2,2
4522,1,1,1,0,7,1,0,2,2
1254,0,1,0,0,6,1,0,2,2
3501,0,1,0,0,4,1,0,2,2
4320,0,1,0,0,6,1,0,2,2
2282,0,1,0,1,0,1,0,1,2
3802,0,1,0,0,4,1,0,2,2
1212,0,0,0,0,5,1,0,1,2
1778,0,0,0,0,8,1,0,2,2
1260,0,0,0,0,9,1,0,2,2
4194,0,1,0,1,0,1,0,2,2
5237,0,0,0,0,5,1,0,1,1
44,0,0,0,0,5,1,0,2,1
2813,0,1,0,0,6,1,0,2,2
727,0,0,0,0,2,1,0,2,2
4168,0,1,0,0,9,1,0,2,2
2147,0,1,0,0,6,1,0,1,2
1418,0,0,0,0,4,1,0,2,1
3654,0,0,0,0,4,1,0,1,2
3137,0,1,0,0,7,1,0,2,2
2253,0,1,1,1,0,1,0,1,2

In [23]:
clf.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [25]:
y_train_pred = clf.predict(X_train)
accuracy = accuracy_score(y_train_pred,y_train)

In [26]:
accuracy

1.0

In [27]:
y_test_pred = clf.predict(X_test)
accuracy = accuracy_score(y_test_pred,y_test)

In [28]:
accuracy

1.0